* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}
html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}
.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-warp {
    background: #e6f0ff;
    height: calc(100vh - 90px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.actions .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.19; /* 118.75% */
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero .btn {
    min-width: 170px;
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 15px 38px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Clients */

.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .row-desc {
    margin-top: 23px;
}
.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 102px;
}

/* guide */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background-color: #000339;
    border-radius: 12px;
    transform: translateX(-50%);
}

.guides .desc {
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    width: 459px; /* 187.5% */
    max-width: 100%;
    margin: 20px auto 0;
}

/* list guide */
.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-item .link span {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* featured */
.featured {
    background-color: #f5fafe;
    margin-top: 41px;
}

.featured .sub-title {
    display: inline-block;
    margin-top: 110px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.featured .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured .desc {
    margin-top: 15px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.featured .link {
    color: #0689ff;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.featured .arrow {
    margin-left: 6px;
}

/* featured list */

.featured .list {
    display: flex;
    gap: 30px;
}

.featured .item {
    flex: 1;
    margin: 70px 0px 110px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}
.featured .body {
    padding: 17px 10px 24px 20px;
}
.featured .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.featured .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
    word-break: break-all;
}
.featured .body .desc {
    --line-clamp: 3;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 11px;
    word-break: break-all;
}
.featured .body .info {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.featured .body .label {
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.14px;
    margin-right: 23px;
}

.featured .body .icon {
    margin-right: 8px;
}

/* stats */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}
.stats .img-block {
    position: relative;
}

.stats .img-block > img {
    display: block;
    width: 400px;
    height: 460px;
    margin-left: auto;
    border-radius: 12px;
    box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
    object-fit: cover;
}
.stats-trend {
    padding: 45px 23px 0 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}
.stats-trend .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats-trend .icon {
    margin-left: auto;
}
.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.stats-trend .desc {
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    border-bottom: 1.2px solid #e9e9e9;
    padding: 8px 0 26px 0;
}
.avatar-block {
    padding: 26px 0 41px 0;
    display: flex;
    gap: 16px 13px;
    flex-wrap: wrap;
}

.avatar-group {
    display: flex;
}
.stats-trend .avatar-block .avatar {
    margin-left: -3px;
    width: 16.337px;
    height: 16.337px;
    border-radius: 999px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);
}
.stats-trend .avatar-block .avatar:first-child {
    margin-left: 0px;
}

.stats .info {
    padding: 79px 0 0 165px;
}
.stats .info .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
    position: relative;
}
.stats .info .sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}
.row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}
.row-qty .qty-item .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.row-qty .qty-item .qty-desc {
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 22px;
}

/* subcription */

.subcription {
    margin: 90px 0 55px 0;
}

.subcription .body {
    height: 370px;
    border-radius: 20px;
    background: #063183;
    display: flex;
    align-items: center;
    position: relative;
}
.subcription .info {
    padding: 0 80px;
    width: 650px;
    max-width: 100%;
}

.subcription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.subcription .decs {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    opacity: 0.75;
    margin-top: 15px;
}

.subcription .btn-sub {
    border-radius: 12px;
    background: #fff;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 20px;
    min-width: 151px;
}
.subcription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* footer */
.footer {
    padding: 50px 0 58px;
}

.footer .column {
    display: flex;
    justify-content: space-between;
}

.footer .column .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .column li,
p {
    color: #7a7a7e;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 18px;
}
.footer .column li:first-child {
    padding-top: 42px;
}

.footer .column p {
    line-height: 1.75;
    max-width: 257px;
    padding: 40px 0;
}

.footer .copyright {
    padding: 81px 0 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .copyright .copyright-end {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
